header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
}

header img{
    width: 6rem;
    margin-left: 1rem;
}

header nav{
    width: 80%;
}

nav h2{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
}


@media(width < 500px){
    header{
        flex-direction: column;
    }

    header nav{
        margin-top: 2rem;
    }
}